/**
 * Oscuro: #283035
 * Azul: #03658c
 * Detalle: #c7cacb
 * Fondo: #dee1e3
 ----------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #03658c;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
    background: #dee1e3;
}


/** ====================
 * Lista de Comentarios
 =======================*/

.comments-container {
    /*margin: 60px auto 15px;
    width: 768px;*/
    margin: 3px 0px 0px 3px;
    /* width: 768px; */
    width: 330px;
    /*margin-left: 10px;*/
}

.comments-container h1 {
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}

.comments-container h1 a {
    font-size: 18px;
    font-weight: 700;
}

.comments-list {
    margin-top: 30px;
    position: relative;
}


/**
 * Lineas / Detalles
 -----------------------*/


/*댓글 연결선(세로선)*/

.comments-list:before {
    content: '';
    width: 2px;
    height: 100%;
    background: #c7cacb;
    position: absolute;
    left: 32px;
    top: 0;
    display: none;
}

.comments-list:after {
    content: '';
    position: absolute;
    background: #c7cacb;
    bottom: 0;
    left: 27px;
    width: 7px;
    height: 7px;
    border: 3px solid #dee1e3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: none;
}

.reply-list:before,
.reply-list:after {
    /*display: none;*/
}


/*댓글 연결선(가로선)*/

.reply-list li:before {
    content: '';
    width: 45px;
    height: 2px;
    background: #c7cacb;
    position: absolute;
    top: 25px;
    /*left: -55px;*/
    left: 32px;
    display: none;
}

.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.reply-list {
    /*padding-left: 88px;*/
    clear: both;
    margin-top: 15px;
}


/**
 * Avatar
 ---------------------------*/

.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}

.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}

.comment-main-level {
    /*border: 2px solid #ff0000;*/
}

.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}

.comment-reply-level {
    /*border: 2px solid #0000ff;*/
}


/**
 * Caja del Comentario
 ---------------------------*/

.comments-list .comment-box {
    /*width: 680px;*/
    width: 100%;
    /*max-width: 680px;*/
    float: right;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.comments-list .main_reply_textarea {
    width: 100%;
    /*max-width: 680px;*/
    float: right;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}


/*.comments-list .comment-box:before,
.comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    top: 8px;
    left: -11px;
}

.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0, 0, 0, 0.05);
    left: -12px;
}*/

.reply-list .comment-box {
    /*width: 320px;*/
    /*width: 610px;*/
    width: 95%;
}

.reply-list .sub_reply_textarea {
    width: 95%;
}

.comment-box .comment-head {
    background: #FCFCFC;
    padding: 5px 5px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.comment-box .comment-head .comment-thumb {
    float: left;
    width: 35px;
    height: 35px;
    border: 3px solid #FFF;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.comment-head .comment-thumb img {
    width: 100%;
    height: 100%;
}

.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-head>.fa-left {
    float: left;
    margin-left: 5px;
    margin-right: 10px;
    position: relative;
    top: 10px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
    color: #03658c;
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.comment-box .comment-name a {
    color: #283035;
}

.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.comment-box .comment-content {
    background: #FFF;
    padding: 7px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author,
.comment-box .comment-name.by-author a {
    color: #03658c;
}

.comment-box .comment-name.by-author:after {
    content: 'author';
    background: #03658c;
    color: #FFF;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: none;
}

.main_reply_textarea {
    margin: 5px 0px 0px 88px;
}

.sub_reply_textarea {
    margin: 5px 0px 0px 70px;
}

textarea#id_reply_textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid #d2d6de;
    border-right: none;
    /*margin: 0px 0px 10px 88px;*/
}

textarea[readonly]#id_reply_textarea {
    /*font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid #d2d6de;
    border-right: none;*/
    /*margin: 0px 0px 10px 88px;*/
    /*border: 1px solid #CACACA;*/
}

.reply-upload {
    width: 100%;
    ;
    float: right;
    margin: 1px 0px 0px 0px;
}

.reply_main_textarea {
    resize: none;
    margin: 10px 0px 0px 0px;
}

.reply_main_textarea #id_reply_textarea_main {
    resize: none;
}

textarea#id_comment_content {
    border: 1px solid #CACACA;
    margin: 0px 0px 0px 0px;
    background-color: #FAFAFA;
    resize: none;
}

textarea[readonly]#id_comment_content {
    border: none;
    background-color: white;
}

textarea#id_reply_edit {
    border: 1px solid #CACACA;
    margin: 0px 0px 0px 0px;
    background-color: #FAFAFA;
    resize: none;
}

textarea[readonly]#id_reply_edit {
    border: none;
    background-color: white;
}

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fa-rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.fa-rotate-90 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.image-preview-input-title {
    margin-left: 2px;
}

div#id_upload_image {
    background-color: #fff;
    /*border-bottom: 1px solid red;*/
}

.id_upload_image {
    /*background-color: red;*/
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
    /* max-width: 300px; */
    max-width: 150px;
}

.input-group-btn {
    background-color: white;
    border-top: 1px solid #d2d6de;
    border-right: 1px solid #d2d6de;
    border-bottom: 1px solid #d2d6de;
}

.input-group-btn #id_cancel_send {
    /*float: left;*/
    /*top: 2px;*/
    vertical-align: top;
    text-align: center;
    background-color: white;
    color: #A6A6A6;
    margin: 0;
    /*cursor: pointer;*/
    /*-webkit-transition: color 0.3s ease;*/
    /*-o-transition: color 0.3s ease;*/
    /*transition: color 0.3s ease;*/
}

.input-group-btn .btn-comment-cancel {
    padding: 0;
    margin: 0;
    vertical-align: top;
    text-align: center;
}

.input-group-btn #id_cancel_send>.fa-left {
    /*float: left;
    margin-left: 5px;
    margin-right: 10px;
    position: relative;
    top: 10px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;*/
}

.input-group-btn #id_cancel_send:hover {
    color: #03658c;
}

/*div.comments-footer {
    border: 1px solid #111111;
}*/

button#id_reply_send_main {
    width: 80px;
    height: 72px;
}

button#id_reply_send_sub {
    width: 80px;
    height: 72px;
}