<!DOCTYPE html>
<html lang="ko">

<head>
    <meta name="" content="" charset="utf-8">
    <title>INNSYS</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-6 col-sm-offset-3">
                <br><br>
                <h2 style="color:#0fad00">Success</h2>
                <div class="icon">
                    <span class="glyphicon glyphicon-ok"></span>
                </div>
                <!--<h4><strong>환영합니다. <span id="id_user_email" style="font-size:20px;color:#5C5C5C;">asdf@asdf.net</span> 고객님</strong></h4>-->
                <h4><strong>환영합니다. 고객님</strong></h4>
                <p style="font-size:20px;color:#5C5C5C;">회원가입을 해 주셔서 감사합니다.<br/>정상적으로 가입이 완료되었습니다.</p>
                <a href="javascript:location.href='/'" class="btn btn-success">     Log in      </a>
                <br><br>
            </div>

        </div>
    </div>
</body>

</html>